<div class="container">
  <div class="row d-flex flex-wrap m-5">
  <%= render partial: 'public/items/filter_bar', locals: { filter_url: items_path } %>

    <!-- 新規追加カード -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to new_item_path, class: "text-decoration-none" do %>
        <div class="card h-100 position-relative rounded-4 d-flex align-items-center justify-content-center" style="min-height: 320px;">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
      <% end %>
    </div>

    <!-- 共通パーシャル -->
    <% @cards.each do |card| %>
      <%= render partial: "card", locals: { card: card } %>
    <% end %>

  </div>
</div>

<div class="d-flex justify-content-center my-4">
  <%= paginate @cards %>
</div>